body {
  background-color: white;
  margin: 0;
}

#root {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  font-family: montserrat, sans-serif;
  font-size: 1.2rem;
  /* overflow:hidden; */
}

.container {
  max-width: 100%;
  min-width: 30%;
  height: 100%;
  text-align: center;
  background: #1E2833;
  margin: 0;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
} 

.app-logo {
  position: relative;
  width: 7rem;
  height: auto;
  vertical-align: middle;
}

#intro {
  padding: 15% 0 450px 0;  
  color: rgba(232, 234, 238, 0.986);
}

.info { 
  margin: 5%;
  word-spacing: 5px;
}

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  background: #E5E7EE;
  line-height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  -webkit-box-shadow: 1px 1px 5px #5E7A92;
  -moz-box-shadow:    1px 1px 5px #5E7A92;
  box-shadow:         1px 1px 5px #5E7A92;
}

#nav a {
  margin: 15px 3% 10px 3%;
  list-style-type: none;
  text-decoration: none;
  color: #1E2833;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 10px 0 10px;
}

#nav a:hover {
  background: #1E2833;
  color: #E5E7EE;
  border-radius: 3px;
}

#nav a.active {
  text-decoration: underline;
}

#getting-started {
  max-width: 100%;
  min-width: 350px;
  margin: 0;
  background: #CBD5E0;;
  padding: 15% 0 450px 0;  
  color: #1E2833;
}

#content {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  align-items: stretch;
  justify-content: space-between;
}

#introduction {
  font-size: 1 rem;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15px;
}

#steps {
  max-width: 100%;
  margin-left: 0;
  margin-top: 0;
  vertical-align: top;
  font-size: 1 rem;
  text-align: justify;
}

/* #getting-started img {
  max-width: 550px;
  min-width: 50%;
  height: auto;
  border-radius: 3px; 
} */

#features {
  background: #E5E7EE;
  padding: 15% 0 450px 0;  
}

#team {
  background: #CBD5E0;;
  padding: 15% 0 450px 0;  
}

#contact {
  background: #E5E7EE;
  padding: 15% 0 450px 0;  
}

.code {
  padding: 5px 10px 0 10px;
  background-color: #E5E7EE;
}

#scroll {
  top: 50%;
}

#scroll a span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sc 2.5s infinite;
  animation: sc 2.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sc {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sc {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
