body {
  background-color: white;
  margin: 0;
}

#root {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  font-family: montserrat, sans-serif;
  font-size: 1.2rem;
  /* overflow:hidden; */
}

.container {
  max-width: 100%;
  min-width: 30%;
  height: 100%;
  text-align: center;
  background: #1E2833;
  margin: 0;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
} 

.app-logo {
  position: relative;
  width: 7rem;
  height: auto;
  vertical-align: middle;
}

#intro {
  padding: 20% 0 400px 0;  
  color: rgba(232, 234, 238, 0.986);
}

.info { 
  margin: 5%;
  word-spacing: 5px;
}

#nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  background: rgb(239, 240, 245);
  line-height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  -webkit-box-shadow: 1px 1px 5px #5E7A92;
  -moz-box-shadow:    1px 1px 5px #5E7A92;
  box-shadow:         1px 1px 5px #5E7A92;
}

#nav a {
  margin: 3% 5% 3% 5%;
  list-style-type: none;
  text-decoration: none;
  color: #1E2833;
  font-size: 1rem;
  text-transform: uppercase;
}

#getting-started {
  margin: 0;
  background: #E5E7EE;
  padding: 20% 0 400px 0;  
  color: #1E2833;
}

#features {
  background: rgb(214, 220, 228);
  padding: 20% 0 400px 0;  
}

#scroll {
  top: 50%;
}

#scroll a span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sc 2.5s infinite;
  animation: sc 2.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sc {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sc {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
